*.pdf
*.log
*.aux
*.bbl
*.blg
*.gz
*.svg
*.out
*.avi
*.bcf
*.nav
*.xml
*.snm
*.toc
Reference.bib
*.abo
*.acr
*.acn
*.gls
*.alg
*.bcf
*.brf
*.glg
*.glo
*.glsdefs
*.idx
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nlo
*.run.xml
*.suc
*.syc
*.toc
apacite.*
*.bin
*.mp4
*.txt
devoir.tex
devoir2.tex
